<div class = 'container'>
  <div class = 'child'>
    <% if @sushi.present? %>
      <h2><%= @sushi.name %></h2>
        <%= image_tag "#{@sushi.sushi_image}.png", width: '200', height: '200'  %>
      <div>
      <br>
        <%= @sushi.comment%>
      </div>
      <br><br>
      <div>
        <%= link_to sushi_path do %>
          <%= image_tag 'mottotaberu.png' %>
        <% end %>
        <%= link_to "https://twitter.com/intent/tweet?text=#{@sushi.name} にしようかな！&url=#{request.url}" do %>
          <%= image_tag 'sharesuru.png' %>
        <% end %>
      </div>
    <% else %>
      <h2>寿司情報が見つかりません</h2>
    <% end %>
  </div>
</div>